<h3> template driven Form (person) </h3>

 <form #personTemplateDrivenForm="ngForm" class="p-1 grid grid-cols-1 md:grid-cols-2  xl:grid-cols-3 gap-3">
   
     <!-- <d2fngx-read-only-field [(fieldData)]="personData.ref" name="ref"  ></d2fngx-read-only-field> -->
     <d2fngx-label-any-content-field label="reference">{{personData.ref}} </d2fngx-label-any-content-field>
     <d2fngx-label-input-field [(fieldData)]="personData.firstname" name="firstname"  ></d2fngx-label-input-field>
     <d2fngx-label-input-field [(fieldData)]="personData.lastname" name="lastname" label="last_name" ></d2fngx-label-input-field>
    <!--
    <div>
        <label class="block text-sm">lastname:</label>
        <input [(ngModel)]="personData.lastname" name="lastname"  class="w-full" />
        <span class="text-red-600"></span>
    </div>
    -->
    <d2fngx-label-input-field [(fieldData)]="personData.email" name="email"  ></d2fngx-label-input-field>
    <d2fngx-label-input-field [(fieldData)]="personData.taille" name="taille" inputType="number" ></d2fngx-label-input-field>
    <d2fngx-label-input-field [(fieldData)]="personData.birthday" name="birthday" inputType="date" ></d2fngx-label-input-field>
     <d2fngx-boolean-field [(fieldData)]="personData.celibataire" name="celibataire" label="situation"></d2fngx-boolean-field>
    <d2fngx-choice-field [(fieldData)]="personData.genre" name="genre"  [pseudoEnum]="Genre" ></d2fngx-choice-field>
    <d2fngx-choice-field [(fieldData)]="personData.nationalite" name="nationalite"
       [items]="['francais','europeen','autre']" ></d2fngx-choice-field>
    <d2fngx-many-select-field  [(fieldData)]="personData.sports" name="sports"  
      [items]="['velo' , 'football' , 'tennis' , 'basket' ]" ></d2fngx-many-select-field>
</form>
 
    <input type="button" value="login" [disabled]="!personTemplateDrivenForm.form.valid" (click)="onPerson()" /> <br/>
    message: <span [style.color]="okPerson?'green':'red'">{{messagePerson}}</span> 

<hr/>
    <h3>variante avec fieldLayout='row'</h3>

    <form #personTemplateDrivenForm2="ngForm" class="p-1 grid grid-cols-1  xl:grid-cols-2 gap-x-3 sm:gap-y-3 md:gap-y-1">
   
     <d2fngx-read-only-field fieldLayout='row' [(fieldData)]="personData.ref" name="ref"  ></d2fngx-read-only-field>
     <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="personData.firstname" name="firstname"  ></d2fngx-label-input-field>
     <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="personData.lastname" name="lastname" label="last_name" ></d2fngx-label-input-field>
    <!--
    <div>
        <label class="block text-sm">lastname:</label>
        <input [(ngModel)]="personData.lastname" name="lastname"  class="w-full" />
        <span class="text-red-600"></span>
    </div>
    -->
    <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="personData.email" name="email"  ></d2fngx-label-input-field>
    <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="personData.taille" name="taille" inputType="number" ></d2fngx-label-input-field>
    <d2fngx-label-input-field fieldLayout='row' [(fieldData)]="personData.birthday" name="birthday" inputType="date" ></d2fngx-label-input-field>
     <d2fngx-boolean-field fieldLayout='row' [(fieldData)]="personData.celibataire" name="celibataire" label="situation"></d2fngx-boolean-field>
    <d2fngx-choice-field fieldLayout='row' [(fieldData)]="personData.genre" name="genre"  [pseudoEnum]="Genre" ></d2fngx-choice-field>
    <d2fngx-choice-field fieldLayout='row' [(fieldData)]="personData.nationalite" name="nationalite"
       [items]="['francais','europeen','autre']" ></d2fngx-choice-field>
    <d2fngx-many-select-field  fieldLayout='row' [(fieldData)]="personData.sports" name="sports"  
      [items]="['velo' , 'football' , 'tennis' , 'basket' ]" ></d2fngx-many-select-field>
</form>
 
    <input type="button" value="login" [disabled]="!personTemplateDrivenForm2.form.valid" (click)="onPerson()" /> <br/>
    message: <span [style.color]="okPerson?'green':'red'">{{messagePerson}}</span> 