<h3> signalForm (person)</h3>
 <form novalidate class="p-1 grid grid-cols-1 md:grid-cols-2  xl:grid-cols-3 gap-3">

     <ngx-read-only-field [formRef]="personForm" name="ref"  ></ngx-read-only-field>
    <ngx-label-input-field [formRef]="personForm" name="firstname"  ></ngx-label-input-field>
    <ngx-label-input-field [formRef]="personForm" name="lastname"  ></ngx-label-input-field>
    <!--
    <div>
        <label class="block text-sm">lastname:</label>
        <input [formField]="personForm.lastname" [ngClass]="classForField('lastname')" class="w-full" />
        <span class="text-red-600">{{mapFieldErrorMessageSignal().get('lastname')}}</span>
    </div>
   -->
    <ngx-label-input-field [formRef]="personForm" name="email"  ></ngx-label-input-field>
    <ngx-label-input-field [formRef]="personForm" name="taille" inputType="number" ></ngx-label-input-field>
    <ngx-label-input-field [formRef]="personForm" name="birthday" inputType="date"  ></ngx-label-input-field>
    <ngx-boolean-field [formRef]="personForm" name="celibataire" label="situation"></ngx-boolean-field>
    <ngx-choice-field [formRef]="personForm" name="genre" [pseudoEnum]="Genre"></ngx-choice-field>
    <ngx-choice-field [formRef]="personForm" 
                      name="nationalite" 
                      [items]="['francais','europeen','autre']"></ngx-choice-field>
    <ngx-many-select-field  [formRef]="personForm" name="sports"  
      [items]="['velo' , 'football' , 'tennis' , 'basket' ]" ></ngx-many-select-field>                 
</form>
    <!-- person : <span [style.color]="okPerson?'green':'red'">{{ personModel() | json }}</span> <br/> -->
    <input type="button" value="login" [disabled]="personForm().invalid()" (click)="onPerson()" /> <br/>
    message: <span [style.color]="okPerson?'green':'red'">{{messagePerson}}</span> 

    <hr/>
    <h3>variante avec fieldLayout='row'</h3>
    <form novalidate class="p-1 grid grid-cols-1 xl:grid-cols-2 gap-x-3 sm:gap-y-3 md:gap-y-1">

     <ngx-read-only-field fieldLayout='row' [formRef]="personForm" name="ref"  ></ngx-read-only-field>
    <ngx-label-input-field fieldLayout='row' [formRef]="personForm" name="firstname"  ></ngx-label-input-field>
    <ngx-label-input-field fieldLayout='row' [formRef]="personForm" name="lastname"  ></ngx-label-input-field>
    <!--
    <div>
        <label class="block text-sm">lastname:</label>
        <input [formField]="personForm.lastname" [ngClass]="classForField('lastname')" class="w-full" />
        <span class="text-red-600">{{mapFieldErrorMessageSignal().get('lastname')}}</span>
    </div>
   -->
    <ngx-label-input-field fieldLayout='row' [formRef]="personForm" name="email"  ></ngx-label-input-field>
    <ngx-label-input-field fieldLayout='row' [formRef]="personForm" name="taille" inputType="number" ></ngx-label-input-field>
    <ngx-label-input-field fieldLayout='row' [formRef]="personForm" name="birthday" inputType="date"  ></ngx-label-input-field>
    <ngx-boolean-field fieldLayout='row' [formRef]="personForm" name="celibataire" label="situation"></ngx-boolean-field>
    <ngx-choice-field fieldLayout='row' [formRef]="personForm" name="genre" [pseudoEnum]="Genre"></ngx-choice-field>
    <ngx-choice-field fieldLayout='row' [formRef]="personForm" 
                      name="nationalite" 
                      [items]="['francais','europeen','autre']"></ngx-choice-field>
    <ngx-many-select-field fieldLayout='row' [formRef]="personForm" name="sports"  
      [items]="['velo' , 'football' , 'tennis' , 'basket' ]" ></ngx-many-select-field>                 
</form>
    <!-- person : <span [style.color]="okPerson?'green':'red'">{{ personModel() | json }}</span> <br/> -->
    <input type="button" value="login" [disabled]="personForm().invalid()" (click)="onPerson()" /> <br/>
    message: <span [style.color]="okPerson?'green':'red'">{{messagePerson}}</span> 